<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxHome | Luxury Homes in Natural Paradises</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Waterfall&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-css fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand logo text-dark fs-2 fw-bold mx-5" href="../../index.html">LuxHome</a>
                <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="icono text-dark"><i class="bi bi-list fs-3"></i></span>
                </button>
                <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="logo offcanvas-title fw-bold" id="offcanvasNavbarLabel">LuxHome</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../views/luxhomes.html">Luxury homes</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Contact
                                </a>
                                <ul class="dropdown-menu border-0">
                                    <li><a class="dropdown-item" href="tel:+1234567890">Phone</a></li>
                                    <li><a class="dropdown-item" href="mailto:info@luxhomes.com">Email</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <ul class="list-unstyled d-flex social">
                                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                                    src="../../asset/image/social-youtube-svgrepo-com.svg">
                                                <use xlink:href="#twitter"></use></svg>
                                            </a></li>
                                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                                    src="../../asset/image/social-google-svgrepo-com.svg">
                                                <use xlink:href="#instagram"></use></svg>
                                            </a></li>
                                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                                    src="../../asset/image/social-twitter-svgrepo-com.svg">
                                                <use xlink:href="#facebook"></use></svg>
                                            </a></li>
                                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                                    src="../../asset/image/social-facebook-svgrepo-com.svg">
                                                <use xlink:href="#facebook"></use></svg>
                                            </a></li>
                                    </ul>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- button up -->
    <button id="button-up">
        <a href="#"> <i class="bi bi-arrow-up fs-1"></i></a>
    </button>
    <main>
        <!-- Home -->
        <div class="container mt-5 py-5">
            <div class="row align-self-center justify-content-center">
                <div class="col-10">
                    <div class="row justify-content-between align-items-center">
                        <p class="text-start fs-1 col-8">Rent Luxury house with pool</p>
                        <p class="text-end fs-3 fw-bold col-4 text-muted">Rent</p>
                    </div>
                    <p class="text-start col-8 fs-4 text-muted pb-3 ">Price: $1000/month</p>
                    <!-- Image -->
                    <div class="row mt-5">
                        <div class="col-12 col-lg-8 mb-4 mb-lg-0 mt-5">
                            <img src="../../asset/image/imgCard/CasasRenta(21).jpg" alt="house-01" class="img-fluid">
                        </div>
                        <!-- Caracteristicas -->
                        <div class="col-12 col-lg-4">
                            <div class="container mt-4">
                                <div class="row row-cols-3 row-cols-md-3 g-4  my-auto mx-0">
                                    <div class="col text-center">
                                        <svg class="my-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                            width="24px" fill="#5f6368">
                                            <path
                                                d="M200-280h60v-60h440v60h60v-154q0-21-8-39.5T730-506v-94q0-33-23.5-56.5T650-680H520q-11 0-21 3t-19 9q-9-6-19-9t-21-3H310q-33 0-56.5 23.5T230-600v94q-14 14-22 32.5t-8 39.5v154Zm60-120v-40q0-17 11.5-28.5T300-480h360q17 0 28.5 11.5T700-440v40H260Zm30-140v-80h160v80H290Zm220 0v-80h160v80H510ZM160-80q-33 0-56.5-23.5T80-160v-640q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v640q0 33-23.5 56.5T800-80H160Zm0-80h640v-640H160v640Zm0 0v-640 640Z" />
                                        </svg>
                                        <p class="fs-5 fw-bold mb-0">6</p>
                                        <p class="small text-muted">bedrooms</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-water fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">3</p>
                                        <p class="small text-muted">bathrooms</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-geo-alt fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">2</p>
                                        <p class="small text-muted">location</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-car-front fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">1</p>
                                        <p class="small text-muted">garages</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-layers fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">2</p>
                                        <p class="small text-muted">Level</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-rulers fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">1500</p>
                                        <p class="small text-muted">Mtr2</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-building fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">1995</p>
                                        <p class="small text-muted">construction</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-tv fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">2</p>
                                        <p class="small text-muted">livingroom</p>
                                    </div>
                                    <div class="col text-center">
                                        <i class="bi bi-fire fs-4"></i>
                                        <p class="fs-5 fw-bold mb-0">2</p>
                                        <p class="small text-muted">cooker</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Description -->
                            <div class="row justify-content-center mt-5">
                                <div class="col-12">
                                    <p class="fs-4 fw-semibold">Description</p>
                                    <p class="text-muted ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo
                                        est earum enim iure soluta, nulla vero? Iste ullam harum, quam eius, quibusdam
                                        omnis magni error quasi laboriosam aperiam, suscipit ab?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form contact -->
        <h2 class="fs-1 text-center my-5 pt-5">Contact us</h2>
        <div class="container p-5 form-contact">
            <div class="row">
                <form class="col-md-6 col-sm-8 row g-3">
                    <div class="col-md-6">
                        <label for="inputName" class=" form-label">Name</label>
                        <input type="text" class="opacity-50 form-control mb-3" placeholder="First name"
                            aria-label="First name">
                        <label for="inputName" class=" form-label">Last name</label>
                        <input type="text" class="opacity-50 form-control mb-3" placeholder="Last name"
                            aria-label="Last name">
                        <label for="inputEmail4" class=" form-label">Email</label>
                        <input type="email" class="opacity-50 form-control" id="inputEmail4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class=" form-label">Address</label>
                        <input type="text" class="opacity-50 form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class=" form-label">City</label>
                        <input type="text" class="opacity-50 form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class=" form-label">State</label>
                        <select id="inputState" class="opacity-50 form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input opacity-50" type="checkbox" id="gridCheck">
                            <label class="form-check-label " for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark shadow-lg">Sign in</button>
                    </div>
                </form>
                <div class="col-12 col-md-3 col-lg-3 align-self-center my-0 mx-auto mt-md-0 mt-5">
                    <p class="fs-2">Find your home</p>
                    <p class="text-muted">This item connects to a text field in your content collection. Double-click to edit and choose "Change Content" to open the collection. To view and manage collections, click the Admin icon. content in the left panel Add. There, you can update items, add new fields, create dynamic pages, and more.</p>
                </div>
            </div>
        </div>
        </div>


    </main>
    <!-- Footer -->
    <footer class="mt-5">
        <hr class="w-50 mx-auto mt-5 ">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3">
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of what's new and exciting from us.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-dark shadow-lg" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>© 2024 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex social">
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                    src="../../asset/image/social-youtube-svgrepo-com.svg">
                                <use xlink:href="#twitter"></use></svg>
                            </a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                    src="../../asset/image/social-google-svgrepo-com.svg">
                                <use xlink:href="#instagram"></use></svg>
                            </a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                    src="../../asset/image/social-twitter-svgrepo-com.svg">
                                <use xlink:href="#facebook"></use></svg>
                            </a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img
                                    src="../../asset/image/social-facebook-svgrepo-com.svg">
                                <use xlink:href="#facebook"></use></svg>
                            </a></li>
                    </ul>
                </div>
            </footer>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/script/script.js"></script>
</body>

</html>